body{
	font-family:"avenir next";
}

li{
	list-style:none;
}

.header{
	background-color:#2f5167;
	color:white;
	height:90px;
}

.header-logo{
	float:left;
	font-size:36px;
	padding:20px 40px;
}

.header-list li{
	float:left;
	padding:33px 20px;
}

.main{
	padding:10px 40px;
}

.copy-container h1{
	font-size:20px;
}

.contents{
	height:100px;
	margin-top:10px;
}

.section-title{
	border-bottom:2px solid #dee7ec;
	font-size:28px;
	padding-bottom:1px;
	margin-bottom:5px;
}

.contents-item{
	margin-right:50px;
}

.contents-item p{
	font-size:16px;
	margin-top:15px;
}




.Ctrl-O h1{
	font-size:15px;
	padding-left:20px;
}

.Ctrl-O span{
	color:red;
	padding-left:60px;
	margin:20px;
}

.Ctrl-N h1{
	font-size:15px;
	padding-left:20px;
}	

.Ctrl-N span{
	color:red;
	padding-left:60px;
	margin:20px;
}

.Ctrl-S h1{
	font-size:15px;
	padding-left:20px;
}

.Ctrl-S span{
	color:red;
	padding-left:65px;
	margin:20px;
}

.Ctrl-F12 h1{
	font-size:15px;
	padding-left:20px;
}

.Ctrl-F12 span{
	color:red;
	padding-left:45px;
	margin:20px;
}

.Shift-F12 h1{
	font-size:15px;
	padding-left:20px;
}

.Shift-F12 span{
	color:red;
	padding-left:39px;
	margin:20px;
}


.Alt-Shift-F2 h1{
	font-size:15px;
	padding-left:20px;
}

.Alt-Shift-F2 span{
	color:red;
	padding-left:23px;
	margin:20px;
}

.F12 h1{
	font-size:15px;
	padding-left:20px;
}

.F12 span{
	color:red;
	padding-left:82px;
	margin:20px;
}

.Alt-F2 h1{
	font-size:15px;
	padding-left:20px;
}

.Alt-F2 span{
	color:red;
	padding-left:65px;
	margin:20px;
}

.Alt-F4 h1{
	font-size:15px;
	padding-left:20px;
}

.Alt-F4 span{
	color:red;
	padding-left:65px;
	margin:20px;
}

.back{
	float:right;
}



.contact-form {
  padding-top: 50px;
}

input,textarea{
  width:400px;
  margin-top:5px;
  margin-bottom:30px;
  padding:10px;
  font-size:10px;
  border:1px solid #dee7ec;
}

.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 100px;
  padding: 10px;
}

.footer-logo {
  float: left;
  font-size: 30px;
  padding:30px 25px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
